* {
    text-align: center
}

h1 {
    font-size: 7em;
}

body {
    width: 1300px;
    border: 2px;
    margin: auto;
    border: 5px solid black;
}

section {
    border-top: 5px solid black;
    display: inline-block;
}

div {

    border: 4px single black;
    vertical-align: top
}

h2 {
    font-size: 2.2em;
}
img {
    width: 100%;
    height:auto;
}

#left-column {
    width: 24%;
    display:inline-block;
    
}

#center-column {
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 50%;
    display:inline-block;
}

#right-column {
    width: 24%;
    display:inline-block;
}

.add {
    border:1px dotted black;
    line-height: 2;
}

.price {
    color:rgb(23, 129, 2);
}

.location {
    font-style:italic;
    color: rgb(38, 38, 211);
}