h1 {
    font-size: 6em;
    color: red;
}

body {
    border-top: 2px double black;
    width:1200px;
}

#mainimg {
    width:600px;
    height:auto;
}

#left-column {
    width: 300px;
    display:inline-block;
    
}

#center-column {
    width: 600px;
    display:inline-block;
    
}

#right-column {
    width: 300px;
    display:inline-block;
   
}