body {
    background: cornflowerblue;

}
img {
    height:100px;
    
}
.top-wrapper {
    width: 100vw;
    display:flex;
    justify-content: center;
}
.discard-piles {
    width: 55%;
    display:flex;
    justify-content: center;
}

.draw-piles {
    width: 45%;
    display:flex;
    justify-content: center;
}

.play-piles {
    position: absolute;
    margin-top: 30px;
    width: 100vw;
    display:flex;
    justify-content: center;
}

.play-piles div {
    position: relative;
    width:150px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.discard-piles div {
    width:150px;
}

.draw-piles div{
    width:150px;
}