* {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
}

div {
    border: 5px solid white;
}

#container {
    width: 100vw;
    height: 100vh;
}

.row {
    width: 100%;
    height: 25%;
    border:none;
 
}

.pink-box {
    width: 100%;
    height: 100%;
    background-color: #F5C6D6;
}

.red-box {
    width: 25%;
    height: 100%;
    background-color: #EE2E84;
    display: inline-block;
}

.blue-box {
    width: 50%;
    height: 100%;
    background-color: #85CFD8;
    display: inline-block;
}

.green-box {
    width: 75%;
    height: 100%;
    background-color: #8DC63F;
    display: inline-block;
}

.orange-box {
    width: 25%;
    height: 100%;
    background-color: #E76E34;
    display: inline-block;
}